body
    background-image url('/images/background.png')
    background-size cover
    .container
        position relative
        top 70px
        .header_block
            &_logo_vic
                text-align right
        .title_block
            padding-top 28px
            &_text_wraper
                position relative
                top 100px
            &_event_text
                font-size 60px
                color white
            &_logo_club
                padding-top 40px